@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --primary-color: #0E4BF1;
    --panel-color: #fff;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #ddd;
    --box1-color: #4da3ff;
    --box2-color: #ffe6ac;
    --box3-color: #e7d1fc;
    --title-icon-color: #fff;

    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

body{
    min-height: 100vh;
}

body.dark{
    --primary-color: #3a3b3c;
    --panel-color: #242526;
    --text-color: #ccc;
    --black-light-color: #ccc;
    --border-color: #4d4c4c;
    --toggle-color: #fff;
    --box1-color: #3a3b3c;
    --box2-color: #3a3b3c;
    --box3-color: #3a3b3c;
    --title-icon-color: #ccc;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 2px solid var(--border-color);
    transition: var(--tran-05);
    overflow-y: auto;
}

nav.close{
    width: 73px;
}


nav .logo{
    display: flex;
    align-items: center;
}

nav .logo-image{
    display: flex;
    justify-content: center;
    min-width: 45px;
}

nav .logo-image img{
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo .logo-name{
    margin-left: 14px;
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    transition: var(--tran-05);
}

nav.close .logo-name{
    opacity: 0;
    pointer-events: none;
}

nav .menu-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-items li{
    list-style: none;
}

.menu-items li a{
    height: 50px;
    display: flex;
    align-items: center;
    text-decoration: none;
    position: relative;
}

.nav-links li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

body.dark li a:hover:before{
    background-color: var(--text-color);
}

.menu-items li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}

.menu-items li a .link-name{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);
    transition: var(--tran-05);
}

nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
}

.nav-links li a:hover i,
.nav-links li a:hover .link-name{
    color: var(--primary-color);
}

body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name{
    color: var(--text-color);
}

.menu-items .logout-mode{
    padding-top: 10px;
    border-top: 2px solid var(--border-color);

}

.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.menu-items .mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}

.switch:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}

body.dark .switch:before{
    left: 20px;
}

.dashboard{
    position: relative;
    background-color: var(--panel-color);
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    padding: 80px 14px 20px;
    transition: var(--tran-05);
    overflow-y: auto;
}

nav.close ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}

.dashboard .top{
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    padding: 10px 14px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--panel-color);
    transition: var(--tran-05);
}

nav.close ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 73px);;
}

.dashboard .top .sidebar-toggle{
    font-size: 24px;
    color: var(--text-color);
    cursor: pointer;;
}


.top .profile-img {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: center;
}

.top .profile-img .profile-initial {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

.top .profile-img .active-indicator {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background-color: green;
    border: 2px solid white;
}

.dashboard .dash-content {
	padding-top: 50px;
}

.dashboard .dash-content .overview h1 {
	font-size: 33px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--text-color);
}




.container {
    background: var(--panel-color);
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 700px;
    margin: auto;
  }
  .container .title {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 20px;
    position: relative;
  }
  .container .title::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    height: 3px;
    width: 50px;
    background: var(--primary-color);
    border-radius: 5px;
  }
  .content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }
  form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  .user-details .input-box input:focus,
  .user-details .input-box input:valid {
    border-color: #9b59b6;
  }
  .user-details .input-box select {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding: 0 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    background-color: #fff;
    color: #333;
    transition: all 0.3s ease;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2210%22%20height%3D%225%22%20viewBox%3D%220%200%2010%205%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M0%200l5%205%205-5z%22%20fill%3D%22%23333%22/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px 5px;
}

.user-details .input-box select:focus {
    border-color: #9b59b6;
}

  form .button {
    height: 45px;
    margin: 35px 0
  }
  form .button button {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }
  form .button input:hover {
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }
  /* Responsive media query code for mobile devices */
  @media(max-width: 584px) {
    .container {
      max-width: 100%;
    }
    form .user-details .input-box {
      margin-bottom: 15px;
      width: 100%;
    }
    form .category {
      width: 100%;
    }
    .content form .user-details {
      max-height: 300px;
      overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar {
      width: 5px;
    }
  }
  /* Responsive media query code for mobile devices */
  @media(max-width: 459px) {
    .container .content .category {
      flex-direction: column;
    }
  }


  body.dark .user-details .input-box select {
    background-color: var(--panel-color);
    color: var(--text-color);
    border-color: var(--border-color);
}
